.header__container__p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url(/img/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}