.header__container__p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url(http://187.217.4.141/~edc/moodle/pluginfile.php/26359/mod_assign/intro/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}