.header__container__ul{
    display: flex;
    justify-content: space-around;
    padding:  1rem;
    background-color: var(--color-background);
    /*margin-top: 2rem;*/
}

.header__li a{
    text-decoration: none;
    color: white;
}

.header__li:hover{
    font-weight: bold;
    text-decoration: underline .1rem;
    text-decoration-color: white;
}