.header__container__p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url(https://github.com/EsCodPilares/Imagenes_Proyecto_DW/assets/159093155/cd26affd-c4f2-4a6d-bb6e-0b079972f5ac);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}